# **Los cuatro elementos de la programación**

---


## **Valores**

In [ ]:
"Estoy realizando mi primer código"

'Estoy realizando mi primer código'


## **Variables**

In [ ]:
b = "Mi segunda línea de código"
print(b)

Mi segunda línea de código

In [ ]:
a = 5
print(a)

5


## **Funciones**

In [ ]:
type(b)

str

In [ ]:
print(c)

NameError: name 'c' is not defined

**Ejemplo 1**

In [ ]:
c = 5
print(c)
type(c)

5

int

**Ejemplo 2**

In [ ]:
w = input("¿Cuál es tu nombre? ")
x = input("¿Cuál es tu edad? ")
z = input("¿Qué estas estudiando? ")

print("---------------------")
print(w)
print(x)
print(z)

¿Cuál es tu nombre? 2
¿Cuál es tu edad? 2
¿Qué estas estudiando? 2
---------------------
2
2
2

## **Operaciones**

**Ejemplo 2.3**

In [ ]:
a = 10
b = 20
c = a *2
d = a /2
e = a + b
f = a**2
print(c)
print(d)
print(e)
print("el resultado de la operas : " + str(f))

20
5.0
30
el resultado de la operas : 100

**Ejemplo 2.4**

In [ ]:
a = 4
print(a)
type(a)

4

int

In [ ]:
a = "soy un texto"
print(a)
type(a)

soy un texto

str

**Comentarios**

In [ ]:
#soy un comentario y no afecto el código
#Que debe ser escrito por cáda línea de código


"""soy un comentario
que está escrito en varías líneas
y no afecto a la estructura del código
"""

'soy un comentario\nque está escrito en varías líneas\ny no afecto a la estructura del código\n'

**Ejemplo 2.5**

In [ ]:
lado_1 = input("ingrese el lado 1: ") #se captura lado 1
lado_2 = input("ingrese el lado 2: ") #se captura lado 2
area = lado_1 * lado_2                #se realiza la operación entre lado 1 y lado 2
print("el área es", area)             #se muestra el resultado

ingrese el lado 1: 2
ingrese el lado 2: 2

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(lado_1)2

str

In [ ]:
lado_1 = int(input("ingrese el lado 1: "))  #se captura lado 1
lado_2 = int(input("ingrese el lado 2: "))  #se captura lado 2
area = lado_1 * lado_2                      #se realiza la operación entre lado 1 y lado 2
print("el área es", area)                   #se muestra el resultado

ingrese el lado 1: 2
ingrese el lado 2: 2
el área es 4

**Ejemplo 2.6**

In [ ]:
import numpy as np  #Se importa la libreria
a = 36              #Se crea una variable
b = np.sqrt(a)      #Se calcula la raíz cuadrada de “a”
print(b)            #Se imprime el resultado

6.0

**Ejemplo 2.7**

In [ ]:
from sympy import * #Se importa la librería
x = symbols('x')    #Se define una variable simbólica "x"
integrate(x**2)     #Se realiza la integral

x**3/3

In [ ]:
integrate(((1/pi)*x*sin(x)), (x,-pi,pi)) #se realiza la integral definida

2

# **Estructuras de control**

In [ ]:
print(10>9) #10 es mayor que 9

True

In [ ]:
print(10 == 9) #10 es igual que 9

False

In [ ]:
print(10 <9) #10 es menor que 9

False

# **Condicionales**

**Ejemplo 2.8**

In [ ]:
a = 200                     #ingrese valor a
b = 33                      #ingrese valor b
if b < a:                   #si b es menor que a
  print("b es menor que a") #imprime el mensaje

b es menor que a

**Ejemplo 2.9**

In [ ]:
a = 200                         #ingrese valor a
b = 33                          #ingrese valor b
if b < a:                       #si b es menor que a
  print("b es menor que a")     #imprime el mensaje
else:                           #si no
  print("b no es menor que a")  #imprime el mensaje

b es menor que a

**Ejemplo 2.10**

In [ ]:
a = 200                           #ingrese valor a
b = 33                            #ingrese valor b
c = 200                           #ingrese valor c
if a != c:                        #si a es diferente que c
  print("a es diferente que c")   #imprime el mensaje
elif a > b:                       #si a es mayor que b
  print("a es mayor que b")       #imprime el mensaje
elif a < b:                       #si a es menor que b
  print("a es menor que b")       #imprime el mensaje
else:                             #si no
  print("Ni idea que es a")       #imprime el mensaje

Ni idea que es a

**Ejemplo 2.11**

In [ ]:
a = 200                         #ingrese valor a
b = 33                          #ingrese valor b
c = 200                         #ingrese valor c
if a > b:                       #si a es mayor que b
  print("a es mayor que b")     #imprime el mensaje
if b < a:                       #si b es menor que a
  print("b es menor que a")     #imprime el mensaje
if c == a:                      #si c es igual a
  print("c es igual b")         #imprime el mensaje
if a != b:                      #si a es diferente que b
  print("b es diferente que a") #imprime el mensaje

b es menor que a
c es igual b
b es diferente que a

**Ejemplo 2.12**

In [ ]:
a = 200                                  #ingrese valor a
b = 33                                   #ingrese valor b
c = 500                                  #ingrese valor c
if a < b and c < a:                      #si a es menor que b y c es menor que a:
  print("Ambas condiciones son verdad")  #imprime el mensaje

Una de las dos condiciones es falsa

**Ejemplo 2.13**

In [ ]:
a = 200                           #ingrese valor a
b = 33                            #ingrese valor b
c = 500                           #ingrese valor c
if a > b or a > c:                #si a es mayor que b o a es mayor que c:
  print("Al menos una es verdad") #imprime el mensaje

Al menos una es verdad

# **While**

**Ejemplo 2.14**

In [ ]:
x = 1         #se asigna valor 1
while x <=6:  #mientras x sea menor o igual a 6
  print(x)    #imprime el valor de x
  x += 1      #se suma 1 al valor de x

1
2
3
4
5
6

**Ejemplo 2.15**

In [ ]:
i = 0                 #se asigna valor 0
while i < 6:          #mientras i sea menor a 6
  i += 1              #se suma 1 al valor de i
  print(i)            #imprime el valor de i
  if i == 3:          #si i es igual a 3
    print("funciona") #imprime el mensaje
    break             #termina el ciclo

1
2
3
funciona

# **FOR**

**Ejemplo 2.16**

In [ ]:
nombres = ["Juan", "María", "Carlos", "Ana"] #se crea una lista
for i in nombres:                            #se recorre la lista
    print(i)                                 #se imprime el nombre

Juan
María
Carlos
Ana

In [ ]:
for x in range(6): #se recorre el rango de 0 a 6
  print(x)         #se imprime el valor de x

0
1
2
3
4
5

# **List**

In [ ]:
frutas = ["manzana", "banano", "cereza"] #se crea una lista
print(frutas)                            #se imprime la lista
len(frutas)                              #se imprime la longitud

['manzana', 'banano', 'cereza']

3

In [ ]:
print(frutas[0]) #se imprime el primer elemento de la lista

manzana

In [ ]:
list1 = ["abc", 34, True, 40, "male"] #lista con diferentes tipos
type(list1)                           #se imprime el tipo de dato

list

# **Diccionario**

In [ ]:
diccionario = { #se crea un diccionario
  "marca": "Ford",
  "electrico": False,
  "year": 1964,
  "color": ["rojo", "blanco", "azul"]
}
type(diccionario) #se imprime el tipo de dato

dict

In [ ]:
print(diccionario["marca"]) #se imprime el valor de la clave "marca"

Ford

In [ ]:
print(diccionario["color"][0]) #se imprime el valor de la clave "color"

rojo

In [ ]:
paises = {                                      #se crea un diccionario
    "Argentina": "Buenos Aires",
    "Brasil": "Brasilia",
    "Chile": "Santiago",
    "Colombia": "Bogotá",
    "Ecuador": "Quito"
}

for i, j in paises.items():            #se recorre el diccionario
    print(f"La capital de {i} es {j}") #se imprime

La capital de Argentina es Buenos Aires
La capital de Brasil es Brasilia
La capital de Chile es Santiago
La capital de Colombia es Bogotá
La capital de Ecuador es Quito

# **Funciones**

In [ ]:
def my_function():          #Se crea la función
  print("Soy una función")  #Se imprime el mensaje
my_function()               #Se llama la función

Soy una función

In [ ]:
def my_function(nombre):         #Se crea la función
  print(nombre + " Texto extra") #Se imprime el mensaje
my_function("Carlos")            #Se llama la función

Carlos Texto extra

In [ ]:
def my_function(nombre, apellido):  #Se crea la función
  print(nombre + " " + apellido)    #Se imprime el mensaje
my_function("Carlos", "Gómez")      #Se llama la función

Carlos Gómez

In [ ]:
def my_function(nombre, apellido,edad):
  print(nombre + " " + apellido," y su edad es ",str(edad))
my_function("Carlos", "Gómez",28)

Carlos Gómez  y su edad es  27

In [ ]:
def my_function(nombre, apellido, edad):
  print(nombre + " " + apellido," y su edad es ",str(edad))
my_function(edad = 28, apellido = "Gomez", nombre = "Carlos")

Carlos Gomez  y su edad es  27